openapi: 3.0.3
info:
  description: weather.gov API
  title: weather.gov API
  version: 2.6.0
externalDocs:
  description: Full API documentation
  url: https://www.weather.gov/documentation/services-web-api
servers:
- description: Production server
  url: https://api.weather.gov
security:
- userAgent: []
paths:
  /alerts:
    get:
      description: Returns all alerts
      operationId: alerts_query
      parameters:
      - deprecated: true
        description: List only active alerts (use /alerts/active endpoints instead)
        explode: true
        in: query
        name: active
        required: false
        schema:
          type: boolean
        style: form
      - description: Start time
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End time
        explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Status (actual, exercise, system, test, draft)"
        explode: false
        in: query
        name: status
        required: false
        schema:
          items:
            enum:
            - actual
            - exercise
            - system
            - test
            - draft
            type: string
          type: array
        style: form
      - description: "Message type (alert, update, cancel)"
        explode: false
        in: query
        name: message_type
        required: false
        schema:
          items:
            enum:
            - alert
            - update
            - cancel
            type: string
          type: array
        style: form
      - description: Event name
        explode: false
        in: query
        name: event
        required: false
        schema:
          items:
            pattern: "^[A-Za-z0-9 ]+$"
            type: string
          type: array
        style: form
      - description: Event code
        explode: false
        in: query
        name: code
        required: false
        schema:
          items:
            pattern: "^\\w{3}$"
            type: string
          type: array
        style: form
      - description: |
          State/territory code or marine area code
          This parameter is incompatible with the following parameters: point, region, region_type, zone
        explode: false
        in: query
        name: area
        required: false
        schema:
          items:
            $ref: "#/components/schemas/AreaCode"
          type: array
        style: form
      - description: |
          Point (latitude,longitude)
          This parameter is incompatible with the following parameters: area, region, region_type, zone
        explode: true
        in: query
        name: point
        required: false
        schema:
          $ref: "#/components/schemas/PointString"
        style: form
      - description: |
          Marine region code
          This parameter is incompatible with the following parameters: area, point, region_type, zone
        explode: false
        in: query
        name: region
        required: false
        schema:
          items:
            $ref: "#/components/schemas/MarineRegionCode"
          type: array
        style: form
      - description: |
          Region type (land or marine)
          This parameter is incompatible with the following parameters: area, point, region, zone
        explode: true
        in: query
        name: region_type
        required: false
        schema:
          enum:
          - land
          - marine
          type: string
        style: form
      - description: |
          Zone ID (forecast or county)
          This parameter is incompatible with the following parameters: area, point, region, region_type
        explode: false
        in: query
        name: zone
        required: false
        schema:
          items:
            $ref: "#/components/schemas/NWSZoneID"
          type: array
        style: form
      - description: "Urgency (immediate, expected, future, past, unknown)"
        explode: false
        in: query
        name: urgency
        required: false
        schema:
          items:
            $ref: "#/components/schemas/AlertUrgency"
          type: array
        style: form
      - description: "Severity (extreme, severe, moderate, minor, unknown)"
        explode: false
        in: query
        name: severity
        required: false
        schema:
          items:
            $ref: "#/components/schemas/AlertSeverity"
          type: array
        style: form
      - description: "Certainty (observed, likely, possible, unlikely, unknown)"
        explode: false
        in: query
        name: certainty
        required: false
        schema:
          items:
            $ref: "#/components/schemas/AlertCertainty"
          type: array
        style: form
      - description: Limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 500
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/AlertCollectionGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/AlertCollectionJsonLd"
            application/atom+xml:
              schema:
                $ref: "#/components/schemas/AlertAtomFeed"
          description: A collection of alerts.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          x-url-content-negotiation-extensions:
            json: application/geo+json
            atom: application/atom+xml
        "301":
          description: Certain common queries may be redirected to discrete URLs
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /alerts/active:
    get:
      description: Returns all currently active alerts
      operationId: alerts_active
      parameters:
      - description: "Status (actual, exercise, system, test, draft)"
        explode: false
        in: query
        name: status
        required: false
        schema:
          items:
            enum:
            - actual
            - exercise
            - system
            - test
            - draft
            type: string
          type: array
        style: form
      - description: "Message type (alert, update, cancel)"
        explode: false
        in: query
        name: message_type
        required: false
        schema:
          items:
            enum:
            - alert
            - update
            - cancel
            type: string
          type: array
        style: form
      - description: Event name
        explode: false
        in: query
        name: event
        required: false
        schema:
          items:
            pattern: "^[A-Za-z0-9 ]+$"
            type: string
          type: array
        style: form
      - description: Event code
        explode: false
        in: query
        name: code
        required: false
        schema:
          items:
            pattern: "^\\w{3}$"
            type: string
          type: array
        style: form
      - description: |
          State/territory code or marine area code
          This parameter is incompatible with the following parameters: point, region, region_type, zone
        explode: false
        in: query
        name: area
        required: false
        schema:
          items:
            $ref: "#/components/schemas/AreaCode"
          type: array
        style: form
      - description: |
          Point (latitude,longitude)
          This parameter is incompatible with the following parameters: area, region, region_type, zone
        explode: true
        in: query
        name: point
        required: false
        schema:
          $ref: "#/components/schemas/PointString"
        style: form
      - description: |
          Marine region code
          This parameter is incompatible with the following parameters: area, point, region_type, zone
        explode: false
        in: query
        name: region
        required: false
        schema:
          items:
            $ref: "#/components/schemas/MarineRegionCode"
          type: array
        style: form
      - description: |
          Region type (land or marine)
          This parameter is incompatible with the following parameters: area, point, region, zone
        explode: true
        in: query
        name: region_type
        required: false
        schema:
          enum:
          - land
          - marine
          type: string
        style: form
      - description: |
          Zone ID (forecast or county)
          This parameter is incompatible with the following parameters: area, point, region, region_type
        explode: false
        in: query
        name: zone
        required: false
        schema:
          items:
            $ref: "#/components/schemas/NWSZoneID"
          type: array
        style: form
      - description: "Urgency (immediate, expected, future, past, unknown)"
        explode: false
        in: query
        name: urgency
        required: false
        schema:
          items:
            $ref: "#/components/schemas/AlertUrgency"
          type: array
        style: form
      - description: "Severity (extreme, severe, moderate, minor, unknown)"
        explode: false
        in: query
        name: severity
        required: false
        schema:
          items:
            $ref: "#/components/schemas/AlertSeverity"
          type: array
        style: form
      - description: "Certainty (observed, likely, possible, unlikely, unknown)"
        explode: false
        in: query
        name: certainty
        required: false
        schema:
          items:
            $ref: "#/components/schemas/AlertCertainty"
          type: array
        style: form
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/AlertCollectionGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/AlertCollectionJsonLd"
            application/atom+xml:
              schema:
                $ref: "#/components/schemas/AlertAtomFeed"
          description: A collection of alerts.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          x-url-content-negotiation-extensions:
            json: application/geo+json
            atom: application/atom+xml
        "301":
          description: Certain common queries may be redirected to discrete URLs
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /alerts/active/count:
    get:
      description: Returns info on the number of active alerts
      operationId: alerts_active_count
      parameters: []
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/alerts_active_count_200_response"
          description: A data structure showing the counts of active alerts broken
            down by various categories
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /alerts/active/zone/{zoneId}:
    get:
      description: Returns active alerts for the given NWS public zone or county
      operationId: alerts_active_zone
      parameters:
      - description: NWS public zone/county identifier
        explode: false
        in: path
        name: zoneId
        required: true
        schema:
          $ref: "#/components/schemas/NWSZoneID"
        style: simple
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/AlertCollectionGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/AlertCollectionJsonLd"
            application/atom+xml:
              schema:
                $ref: "#/components/schemas/AlertAtomFeed"
          description: A collection of alerts.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          x-url-content-negotiation-extensions:
            json: application/geo+json
            atom: application/atom+xml
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /alerts/active/area/{area}:
    get:
      description: Returns active alerts for the given area (state or marine area)
      operationId: alerts_active_area
      parameters:
      - description: State/area ID
        explode: false
        in: path
        name: area
        required: true
        schema:
          $ref: "#/components/schemas/AreaCode"
        style: simple
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/AlertCollectionGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/AlertCollectionJsonLd"
            application/atom+xml:
              schema:
                $ref: "#/components/schemas/AlertAtomFeed"
          description: A collection of alerts.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          x-url-content-negotiation-extensions:
            json: application/geo+json
            atom: application/atom+xml
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /alerts/active/region/{region}:
    get:
      description: Returns active alerts for the given marine region
      operationId: alerts_active_region
      parameters:
      - description: Marine region ID
        explode: false
        in: path
        name: region
        required: true
        schema:
          $ref: "#/components/schemas/MarineRegionCode"
        style: simple
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/AlertCollectionGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/AlertCollectionJsonLd"
            application/atom+xml:
              schema:
                $ref: "#/components/schemas/AlertAtomFeed"
          description: A collection of alerts.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          x-url-content-negotiation-extensions:
            json: application/geo+json
            atom: application/atom+xml
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /alerts/types:
    get:
      description: Returns a list of alert types
      operationId: alerts_types
      parameters: []
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/alerts_types_200_response"
          description: A list of recognized event types
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /alerts/{id}:
    get:
      description: Returns a specific alert
      operationId: alerts_single
      parameters:
      - description: Alert identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: "#/components/schemas/AlertId"
        style: simple
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/AlertGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/AlertJsonLd"
            application/cap+xml:
              schema:
                $ref: "#/components/schemas/AlertCap"
          description: An alert record
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
          x-url-content-negotiation-extensions:
            json: application/geo+json
            cap: application/cap+xml
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /aviation/cwsus/{cwsuId}:
    get:
      description: Returns metadata about a Center Weather Service Unit
      operationId: cwsu
      parameters:
      - description: NWS CWSU ID
        explode: false
        in: path
        name: cwsuId
        required: true
        schema:
          $ref: "#/components/schemas/NWSCenterWeatherServiceUnitId"
        style: simple
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/CenterWeatherServiceUnitJsonLd"
          description: success
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /aviation/cwsus/{cwsuId}/cwas:
    get:
      description: Returns a list of Center Weather Advisories from a CWSU
      operationId: cwas
      parameters:
      - description: NWS CWSU ID
        explode: false
        in: path
        name: cwsuId
        required: true
        schema:
          $ref: "#/components/schemas/NWSCenterWeatherServiceUnitId"
        style: simple
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/CenterWeatherAdvisoryCollectionGeoJson"
          description: success
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /aviation/cwsus/{cwsuId}/cwas/{date}/{sequence}:
    get:
      description: Returns a list of Center Weather Advisories from a CWSU
      operationId: cwa
      parameters:
      - description: NWS CWSU ID
        explode: false
        in: path
        name: cwsuId
        required: true
        schema:
          $ref: "#/components/schemas/NWSCenterWeatherServiceUnitId"
        style: simple
      - description: Date (YYYY-MM-DD format)
        explode: false
        in: path
        name: date
        required: true
        schema:
          $ref: "#/components/schemas/Date"
        style: simple
      - description: Sequence number
        explode: false
        in: path
        name: sequence
        required: true
        schema:
          minimum: 100
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/CenterWeatherAdvisoryGeoJson"
            application/vnd.noaa.uswx+xml:
              schema: {}
          description: success
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /aviation/sigmets:
    get:
      description: Returns a list of SIGMET/AIRMETs
      operationId: sigmetQuery
      parameters:
      - description: Start time
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End time
        explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Date (YYYY-MM-DD format)
        explode: true
        in: query
        name: date
        required: false
        schema:
          $ref: "#/components/schemas/Date"
        style: form
      - description: ATSU identifier
        explode: true
        in: query
        name: atsu
        required: false
        schema:
          $ref: "#/components/schemas/ATSUIdentifier"
        style: form
      - description: SIGMET sequence number
        explode: true
        in: query
        name: sequence
        required: false
        schema:
          $ref: "#/components/schemas/SigmetSequenceNumber"
        style: form
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/SigmetCollectionGeoJson"
          description: success
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /aviation/sigmets/{atsu}:
    get:
      description: Returns a list of SIGMET/AIRMETs for the specified ATSU
      operationId: sigmetsByATSU
      parameters:
      - description: ATSU identifier
        explode: false
        in: path
        name: atsu
        required: true
        schema:
          $ref: "#/components/schemas/ATSUIdentifier"
        style: simple
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/SigmetCollectionGeoJson"
          description: success
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /aviation/sigmets/{atsu}/{date}:
    get:
      description: Returns a list of SIGMET/AIRMETs for the specified ATSU for the
        specified date
      operationId: sigmetsByATSUByDate
      parameters:
      - description: ATSU identifier
        explode: false
        in: path
        name: atsu
        required: true
        schema:
          $ref: "#/components/schemas/ATSUIdentifier"
        style: simple
      - description: Date (YYYY-MM-DD format)
        explode: false
        in: path
        name: date
        required: true
        schema:
          $ref: "#/components/schemas/Date"
        style: simple
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/SigmetCollectionGeoJson"
          description: success
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /aviation/sigmets/{atsu}/{date}/{time}:
    get:
      description: Returns a specific SIGMET/AIRMET
      operationId: sigmet
      parameters:
      - description: ATSU identifier
        explode: false
        in: path
        name: atsu
        required: true
        schema:
          $ref: "#/components/schemas/ATSUIdentifier"
        style: simple
      - description: Date (YYYY-MM-DD format)
        explode: false
        in: path
        name: date
        required: true
        schema:
          $ref: "#/components/schemas/Date"
        style: simple
      - description: Time (HHMM format). This time is always specified in UTC (Zulu)
          time.
        explode: false
        in: path
        name: time
        required: true
        schema:
          $ref: "#/components/schemas/Time"
        style: simple
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/SigmetGeoJson"
            application/vnd.noaa.uswx+xml:
              schema: {}
          description: success
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /glossary:
    get:
      description: Returns glossary terms
      operationId: glossary
      parameters: []
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/glossary_200_response"
          description: A set of glossary terms
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /gridpoints/{wfo}/{x},{y}:
    get:
      description: Returns raw numerical forecast data for a 2.5km grid area
      operationId: gridpoint
      parameters:
      - description: Forecast office ID
        explode: false
        in: path
        name: wfo
        required: true
        schema:
          $ref: "#/components/schemas/NWSForecastOfficeId"
        style: simple
      - description: Forecast grid X coordinate
        explode: false
        in: path
        name: x
        required: true
        schema:
          minimum: 0
          type: integer
        style: simple
      - description: Forecast grid Y coordinate
        explode: false
        in: path
        name: "y"
        required: true
        schema:
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/GridpointGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/GridpointJsonLd"
          description: Gridpoint forecast data
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /gridpoints/{wfo}/{x},{y}/forecast:
    get:
      description: Returns a textual forecast for a 2.5km grid area
      operationId: gridpoint_forecast
      parameters:
      - description: Forecast office ID
        explode: false
        in: path
        name: wfo
        required: true
        schema:
          $ref: "#/components/schemas/NWSForecastOfficeId"
        style: simple
      - description: Forecast grid X coordinate
        explode: false
        in: path
        name: x
        required: true
        schema:
          minimum: 0
          type: integer
        style: simple
      - description: Forecast grid Y coordinate
        explode: false
        in: path
        name: "y"
        required: true
        schema:
          minimum: 0
          type: integer
        style: simple
      - description: |
          Enable future and experimental features (see documentation for more info):
          * forecast_temperature_qv: Represent temperature as QuantitativeValue
          * forecast_wind_speed_qv: Represent wind speed as QuantitativeValue
        explode: false
        in: header
        name: Feature-Flags
        required: false
        schema:
          items:
            enum:
            - forecast_temperature_qv
            - forecast_wind_speed_qv
            type: string
          type: array
        style: simple
      - description: Use US customary or SI (metric) units in textual output
        explode: true
        in: query
        name: units
        required: false
        schema:
          $ref: "#/components/schemas/GridpointForecastUnits"
        style: form
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/Gridpoint12hForecastGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/Gridpoint12hForecastJsonLd"
            application/vnd.noaa.dwml+xml:
              schema: {}
          description: A forecast for a gridpoint.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /gridpoints/{wfo}/{x},{y}/forecast/hourly:
    get:
      description: Returns a textual hourly forecast for a 2.5km grid area
      operationId: gridpoint_forecast_hourly
      parameters:
      - description: Forecast office ID
        explode: false
        in: path
        name: wfo
        required: true
        schema:
          $ref: "#/components/schemas/NWSForecastOfficeId"
        style: simple
      - description: Forecast grid X coordinate
        explode: false
        in: path
        name: x
        required: true
        schema:
          minimum: 0
          type: integer
        style: simple
      - description: Forecast grid Y coordinate
        explode: false
        in: path
        name: "y"
        required: true
        schema:
          minimum: 0
          type: integer
        style: simple
      - description: |
          Enable future and experimental features (see documentation for more info):
          * forecast_temperature_qv: Represent temperature as QuantitativeValue
          * forecast_wind_speed_qv: Represent wind speed as QuantitativeValue
        explode: false
        in: header
        name: Feature-Flags
        required: false
        schema:
          items:
            enum:
            - forecast_temperature_qv
            - forecast_wind_speed_qv
            type: string
          type: array
        style: simple
      - description: Use US customary or SI (metric) units in textual output
        explode: true
        in: query
        name: units
        required: false
        schema:
          $ref: "#/components/schemas/GridpointForecastUnits"
        style: form
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/GridpointHourlyForecastGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/GridpointHourlyForecastJsonLd"
            application/vnd.noaa.dwml+xml:
              schema: {}
          description: A forecast for a gridpoint.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /gridpoints/{wfo}/{x},{y}/stations:
    get:
      description: Returns a list of observation stations usable for a given 2.5km
        grid area
      operationId: gridpoint_stations
      parameters:
      - description: Forecast office ID
        explode: false
        in: path
        name: wfo
        required: true
        schema:
          $ref: "#/components/schemas/NWSForecastOfficeId"
        style: simple
      - description: Forecast grid X coordinate
        explode: false
        in: path
        name: x
        required: true
        schema:
          minimum: 0
          type: integer
        style: simple
      - description: Forecast grid Y coordinate
        explode: false
        in: path
        name: "y"
        required: true
        schema:
          minimum: 0
          type: integer
        style: simple
      - description: Limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 500
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: |
          Enable future and experimental features (see documentation for more info):
          * obs_station_provider: Include the data provider in the metadata about observation stations
        explode: false
        in: header
        name: Feature-Flags
        required: false
        schema:
          items:
            enum:
            - obs_station_provider
            type: string
          type: array
        style: simple
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/ObservationStationCollectionGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ObservationStationCollectionJsonLd"
          description: A collection of observation stations.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /icons/{set}/{timeOfDay}/{first}:
    get:
      deprecated: true
      description: Returns a forecast icon. Icon services in API are deprecated.
      operationId: icons
      parameters:
      - description: "."
        explode: false
        in: path
        name: set
        required: true
        schema:
          type: string
        style: simple
      - description: "."
        explode: false
        in: path
        name: timeOfDay
        required: true
        schema:
          type: string
        style: simple
      - description: "."
        explode: false
        in: path
        name: first
        required: true
        schema:
          type: string
        style: simple
      - description: Font size
        explode: true
        in: query
        name: size
        required: false
        schema:
          $ref: "#/components/schemas/icons_size_parameter"
        style: form
      - description: Font size
        explode: true
        in: query
        name: fontsize
        required: false
        schema:
          maximum: 24
          minimum: 2
          type: integer
        style: form
      responses:
        "200":
          content:
            image/png:
              schema:
                $ref: "#/components/schemas/BinaryFile"
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /icons/{set}/{timeOfDay}/{first}/{second}:
    get:
      deprecated: true
      description: Returns a forecast icon. Icon services in API are deprecated.
      operationId: iconsDualCondition
      parameters:
      - description: "."
        explode: false
        in: path
        name: set
        required: true
        schema:
          type: string
        style: simple
      - description: "."
        explode: false
        in: path
        name: timeOfDay
        required: true
        schema:
          type: string
        style: simple
      - description: "."
        explode: false
        in: path
        name: first
        required: true
        schema:
          type: string
        style: simple
      - description: "."
        explode: false
        in: path
        name: second
        required: true
        schema:
          type: string
        style: simple
      - description: Font size
        explode: true
        in: query
        name: size
        required: false
        schema:
          $ref: "#/components/schemas/icons_size_parameter"
        style: form
      - description: Font size
        explode: true
        in: query
        name: fontsize
        required: false
        schema:
          maximum: 24
          minimum: 2
          type: integer
        style: form
      responses:
        "200":
          content:
            image/png:
              schema:
                $ref: "#/components/schemas/BinaryFile"
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /icons:
    get:
      deprecated: true
      description: Returns a list of icon codes and textual descriptions. Icon services
        in API are deprecated.
      operationId: icons_summary
      parameters: []
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/icons_summary_200_response"
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /thumbnails/satellite/{area}:
    get:
      deprecated: true
      description: Returns a thumbnail image for a satellite region. Image services
        in API are deprecated.
      operationId: satellite_thumbnails
      parameters:
      - description: "."
        explode: false
        in: path
        name: area
        required: true
        schema:
          enum:
          - a
          - e
          - g
          - h
          - p
          - s
          - w
          type: string
        style: simple
      responses:
        "200":
          content:
            image/jpeg:
              schema:
                $ref: "#/components/schemas/BinaryFile"
          description: An image file
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /stations/{stationId}/observations:
    get:
      description: Returns a list of observations for a given station
      operationId: station_observation_list
      parameters:
      - description: Observation station ID
        explode: false
        in: path
        name: stationId
        required: true
        schema:
          type: string
        style: simple
      - description: Start time
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End time
        explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 500
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/ObservationCollectionGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ObservationCollectionJsonLd"
          description: A collection of observation records.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /stations/{stationId}/observations/latest:
    get:
      description: Returns the latest observation for a station
      operationId: station_observation_latest
      parameters:
      - description: Observation station ID
        explode: false
        in: path
        name: stationId
        required: true
        schema:
          type: string
        style: simple
      - description: Require QC
        explode: true
        in: query
        name: require_qc
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/ObservationGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ObservationJsonLd"
            application/vnd.noaa.uswx+xml:
              schema: {}
            application/vnd.noaa.obs+xml:
              schema: {}
          description: An observation record.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /stations/{stationId}/observations/{time}:
    get:
      description: Returns a single observation.
      operationId: station_observation_time
      parameters:
      - description: Observation station ID
        explode: false
        in: path
        name: stationId
        required: true
        schema:
          type: string
        style: simple
      - description: Timestamp of requested observation
        explode: false
        in: path
        name: time
        required: true
        schema:
          format: date-time
          type: string
        style: simple
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/ObservationGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ObservationJsonLd"
            application/vnd.noaa.uswx+xml:
              schema: {}
            application/vnd.noaa.obs+xml:
              schema: {}
          description: An observation record.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /stations/{stationId}/tafs:
    get:
      description: Returns Terminal Aerodrome Forecasts for the specified airport
        station.
      operationId: tafs
      parameters:
      - description: Observation station ID
        explode: false
        in: path
        name: stationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/ld+json:
              schema: {}
          description: success
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /stations/{stationId}/tafs/{date}/{time}:
    get:
      description: Returns a single Terminal Aerodrome Forecast.
      operationId: taf
      parameters:
      - description: Observation station ID
        explode: false
        in: path
        name: stationId
        required: true
        schema:
          type: string
        style: simple
      - description: Date (YYYY-MM-DD format)
        explode: false
        in: path
        name: date
        required: true
        schema:
          $ref: "#/components/schemas/Date"
        style: simple
      - description: Time (HHMM format). This time is always specified in UTC (Zulu)
          time.
        explode: false
        in: path
        name: time
        required: true
        schema:
          $ref: "#/components/schemas/Time"
        style: simple
      responses:
        "200":
          content:
            application/vnd.wmo.iwxxm+xml:
              schema: {}
          description: success
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /stations:
    get:
      description: Returns a list of observation stations.
      operationId: obs_stations
      parameters:
      - description: Filter by observation station ID
        explode: false
        in: query
        name: id
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by state/marine area code
        explode: false
        in: query
        name: state
        required: false
        schema:
          items:
            $ref: "#/components/schemas/AreaCode"
          type: array
        style: form
      - description: Limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 500
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: |
          Enable future and experimental features (see documentation for more info):
          * obs_station_provider: Include the data provider in the metadata about observation stations
        explode: false
        in: header
        name: Feature-Flags
        required: false
        schema:
          items:
            enum:
            - obs_station_provider
            type: string
          type: array
        style: simple
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/ObservationStationCollectionGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ObservationStationCollectionJsonLd"
          description: A collection of observation stations.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /stations/{stationId}:
    get:
      description: Returns metadata about a given observation station
      operationId: obs_station
      parameters:
      - description: Observation station ID
        explode: false
        in: path
        name: stationId
        required: true
        schema:
          type: string
        style: simple
      - description: |
          Enable future and experimental features (see documentation for more info):
          * obs_station_provider: Include the data provider in the metadata about observation stations
        explode: false
        in: header
        name: Feature-Flags
        required: false
        schema:
          items:
            enum:
            - obs_station_provider
            type: string
          type: array
        style: simple
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/ObservationStationGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ObservationStationJsonLd"
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /offices/{officeId}:
    get:
      description: Returns metadata about a NWS forecast office
      operationId: office
      parameters:
      - description: NWS office ID
        explode: false
        in: path
        name: officeId
        required: true
        schema:
          $ref: "#/components/schemas/NWSOfficeId"
        style: simple
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/Office"
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /offices/{officeId}/headlines/{headlineId}:
    get:
      description: Returns a specific news headline for a given NWS office
      operationId: office_headline
      parameters:
      - description: NWS office ID
        explode: false
        in: path
        name: officeId
        required: true
        schema:
          $ref: "#/components/schemas/NWSOfficeId"
        style: simple
      - description: Headline record ID
        explode: false
        in: path
        name: headlineId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/OfficeHeadline"
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /offices/{officeId}/headlines:
    get:
      description: Returns a list of news headlines for a given NWS office
      operationId: office_headlines
      parameters:
      - description: NWS office ID
        explode: false
        in: path
        name: officeId
        required: true
        schema:
          $ref: "#/components/schemas/NWSOfficeId"
        style: simple
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/OfficeHeadlineCollection"
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /points/{latitude},{longitude}:
    get:
      description: Returns metadata about a given latitude/longitude point
      operationId: point
      parameters:
      - description: Latitude
        explode: false
        in: path
        name: latitude
        required: true
        schema:
          maximum: 90
          minimum: -90
          multipleOf: 0.00010
          type: number
        style: simple
      - description: Longitude
        explode: false
        in: path
        name: longitude
        required: true
        schema:
          maximum: 180
          minimum: -180
          multipleOf: 0.00010
          type: number
        style: simple
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/PointGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/PointJsonLd"
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /points/{latitude},{longitude}/stations:
    get:
      deprecated: true
      description: Returns a list of observation stations for a given point
      operationId: point_stations
      parameters:
      - description: Latitude
        explode: false
        in: path
        name: latitude
        required: true
        schema:
          maximum: 90
          minimum: -90
          multipleOf: 0.00010
          type: number
        style: simple
      - description: Longitude
        explode: false
        in: path
        name: longitude
        required: true
        schema:
          maximum: 180
          minimum: -180
          multipleOf: 0.00010
          type: number
        style: simple
      responses:
        "301":
          description: redirect to gridpoint stations
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /radar/servers:
    get:
      description: Returns a list of radar servers
      operationId: radar_servers
      parameters:
      - description: Show records from specific reporting host
        explode: true
        in: query
        name: reportingHost
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/ld+json:
              schema: {}
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /radar/servers/{id}:
    get:
      description: Returns metadata about a given radar server
      operationId: radar_server
      parameters:
      - description: Server ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Show records from specific reporting host
        explode: true
        in: query
        name: reportingHost
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/ld+json:
              schema: {}
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /radar/stations:
    get:
      description: Returns a list of radar stations
      operationId: radar_stations
      parameters:
      - description: Limit results to a specific station type or types
        explode: false
        in: query
        name: stationType
        required: false
        schema:
          items:
            pattern: "^[A-Za-z0-9-]+$"
            type: string
          type: array
        style: form
      - description: Show RDA and latency info from specific reporting host
        explode: true
        in: query
        name: reportingHost
        required: false
        schema:
          type: string
        style: form
      - description: Show latency info from specific LDM host
        explode: true
        in: query
        name: host
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/geo+json:
              schema: {}
            application/ld+json:
              schema: {}
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /radar/stations/{stationId}:
    get:
      description: Returns metadata about a given radar station
      operationId: radar_station
      parameters:
      - description: Radar station ID
        explode: false
        in: path
        name: stationId
        required: true
        schema:
          type: string
        style: simple
      - description: Show RDA and latency info from specific reporting host
        explode: true
        in: query
        name: reportingHost
        required: false
        schema:
          type: string
        style: form
      - description: Show latency info from specific LDM host
        explode: true
        in: query
        name: host
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/geo+json:
              schema: {}
            application/ld+json:
              schema: {}
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /radar/stations/{stationId}/alarms:
    get:
      description: Returns metadata about a given radar station alarms
      operationId: radar_station_alarms
      parameters:
      - description: Radar station ID
        explode: false
        in: path
        name: stationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/ld+json:
              schema: {}
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /radar/queues/{host}:
    get:
      description: Returns metadata about a given radar queue
      operationId: radar_queue
      parameters:
      - description: LDM host
        explode: false
        in: path
        name: host
        required: true
        schema:
          type: string
        style: simple
      - description: Record limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Range for arrival time
        explode: true
        in: query
        name: arrived
        required: false
        schema:
          $ref: "#/components/schemas/ISO8601Interval"
        style: form
      - description: Range for creation time
        explode: true
        in: query
        name: created
        required: false
        schema:
          $ref: "#/components/schemas/ISO8601Interval"
        style: form
      - description: Range for publish time
        explode: true
        in: query
        name: published
        required: false
        schema:
          $ref: "#/components/schemas/ISO8601Interval"
        style: form
      - description: Station identifier
        explode: true
        in: query
        name: station
        required: false
        schema:
          type: string
        style: form
      - description: Record type
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: Originating product feed
        explode: true
        in: query
        name: feed
        required: false
        schema:
          type: string
        style: form
      - description: Resolution version
        explode: true
        in: query
        name: resolution
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/ld+json:
              schema: {}
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /radar/profilers/{stationId}:
    get:
      description: Returns metadata about a given radar wind profiler
      operationId: radar_profiler
      parameters:
      - description: Profiler station ID
        explode: false
        in: path
        name: stationId
        required: true
        schema:
          type: string
        style: simple
      - description: Time interval
        explode: true
        in: query
        name: time
        required: false
        schema:
          $ref: "#/components/schemas/ISO8601Interval"
        style: form
      - description: Averaging interval
        explode: true
        in: query
        name: interval
        required: false
        schema:
          $ref: "#/components/schemas/ISO8601Duration"
        style: form
      responses:
        "200":
          content:
            application/ld+json:
              schema: {}
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /products:
    get:
      description: Returns a list of text products
      operationId: products_query
      parameters:
      - description: Location id
        explode: false
        in: query
        name: location
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Start time
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End time
        explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Issuing office
        explode: false
        in: query
        name: office
        required: false
        schema:
          items:
            pattern: "^[A-Z]{4}$"
            type: string
          type: array
        style: form
      - description: WMO id code
        explode: false
        in: query
        name: wmoid
        required: false
        schema:
          items:
            pattern: "^[A-Z]{4}\\d{2}$"
            type: string
          type: array
        style: form
      - description: Product code
        explode: false
        in: query
        name: type
        required: false
        schema:
          items:
            pattern: "^\\w{3}$"
            type: string
          type: array
        style: form
      - description: Limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 500
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/TextProductCollection"
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /products/locations:
    get:
      description: Returns a list of valid text product issuance locations
      operationId: product_locations
      parameters: []
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/TextProductLocationCollection"
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /products/types:
    get:
      description: Returns a list of valid text product types and codes
      operationId: product_types
      parameters: []
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/TextProductTypeCollection"
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /products/{productId}:
    get:
      description: Returns a specific text product
      operationId: product
      parameters:
      - description: "."
        explode: false
        in: path
        name: productId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/TextProduct"
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /products/types/{typeId}:
    get:
      description: Returns a list of text products of a given type
      operationId: products_type
      parameters:
      - description: "."
        explode: false
        in: path
        name: typeId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/TextProductCollection"
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /products/types/{typeId}/locations:
    get:
      description: Returns a list of valid text product issuance locations for a given
        product type
      operationId: products_type_locations
      parameters:
      - description: "."
        explode: false
        in: path
        name: typeId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/TextProductLocationCollection"
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /products/locations/{locationId}/types:
    get:
      description: Returns a list of valid text product types for a given issuance
        location
      operationId: location_products
      parameters:
      - description: "."
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/TextProductTypeCollection"
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /products/types/{typeId}/locations/{locationId}:
    get:
      description: Returns a list of text products of a given type for a given issuance
        location
      operationId: products_type_location
      parameters:
      - description: "."
        explode: false
        in: path
        name: typeId
        required: true
        schema:
          type: string
        style: simple
      - description: "."
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/TextProductCollection"
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /products/types/{typeId}/locations/{locationId}/latest:
    get:
      description: Returns latest text products of a given type for a given issuance
        location with product text
      operationId: latest_product_type_location
      parameters:
      - description: "."
        explode: false
        in: path
        name: typeId
        required: true
        schema:
          type: string
        style: simple
      - description: "."
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: "#/components/schemas/TextProductCollection"
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /zones:
    get:
      description: Returns a list of zones
      operationId: zone_list
      parameters:
      - description: Zone ID (forecast or county)
        explode: false
        in: query
        name: id
        required: false
        schema:
          items:
            $ref: "#/components/schemas/NWSZoneID"
          type: array
        style: form
      - description: State/marine area code
        explode: false
        in: query
        name: area
        required: false
        schema:
          items:
            $ref: "#/components/schemas/AreaCode"
          type: array
        style: form
      - description: Region code
        explode: false
        in: query
        name: region
        required: false
        schema:
          items:
            $ref: "#/components/schemas/RegionCode"
          type: array
        style: form
      - description: Zone type
        explode: false
        in: query
        name: type
        required: false
        schema:
          items:
            $ref: "#/components/schemas/NWSZoneType"
          type: array
        style: form
      - description: "Point (latitude,longitude)"
        explode: true
        in: query
        name: point
        required: false
        schema:
          $ref: "#/components/schemas/PointString"
        style: form
      - description: Include geometry in results (true/false)
        explode: true
        in: query
        name: include_geometry
        required: false
        schema:
          type: boolean
        style: form
      - description: Limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: Effective date/time
        explode: true
        in: query
        name: effective
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/ZoneCollectionGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ZoneCollectionJsonLd"
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /zones/{type}:
    get:
      description: Returns a list of zones of a given type
      operationId: zone_list_type
      parameters:
      - description: Zone type
        explode: false
        in: path
        name: type
        required: true
        schema:
          $ref: "#/components/schemas/NWSZoneType"
        style: simple
      - description: Zone ID (forecast or county)
        explode: false
        in: query
        name: id
        required: false
        schema:
          items:
            $ref: "#/components/schemas/NWSZoneID"
          type: array
        style: form
      - description: State/marine area code
        explode: false
        in: query
        name: area
        required: false
        schema:
          items:
            $ref: "#/components/schemas/AreaCode"
          type: array
        style: form
      - description: Region code
        explode: false
        in: query
        name: region
        required: false
        schema:
          items:
            $ref: "#/components/schemas/RegionCode"
          type: array
        style: form
      - description: Zone type
        explode: false
        in: query
        name: type
        required: false
        schema:
          items:
            $ref: "#/components/schemas/NWSZoneType"
          type: array
        style: form
      - description: "Point (latitude,longitude)"
        explode: true
        in: query
        name: point
        required: false
        schema:
          $ref: "#/components/schemas/PointString"
        style: form
      - description: Include geometry in results (true/false)
        explode: true
        in: query
        name: include_geometry
        required: false
        schema:
          type: boolean
        style: form
      - description: Limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: Effective date/time
        explode: true
        in: query
        name: effective
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/geo+json:
              schema:
                $ref: "#/components/schemas/ZoneCollectionGeoJson"
            application/ld+json:
              schema:
                $ref: "#/components/schemas/ZoneCollectionJsonLd"
          description: success
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
          description: An error response.
          headers:
            X-Correlation-Id:
              $ref: "#/components/headers/CorrelationId"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
            X-Server-Id:
              $ref: "#/components/headers/ServerId"
  /zones/{type}/{zoneId}:
    get:
      description: Returns metadata about a given zone
      operationId: zone
      parameters:
      - description: Zone type
        explode: false
        in: path
        name: type
        required: true
        schema:
          $ref: "#/components/schemas/NWSZoneType"
        style: simple
      - description: NWS public zone/county identifier
        explode: false
        in: path
        name: zoneId
        required: true
        schema:
          $ref: "#/components/schemas/NWSZoneID"
        style: simple
      - description: Effective date/time
        explode: true
        in: query
        name: effective
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/geo+json:
              schema:
[...]
